@use './variables';
@use './breakpoints';

html {
  height: 100%;
}

body {
  height: 95%; // 100% adds a scrollbar
  padding-inline: 1.5em;
  background-color: var(--very-dark-blue);
  font-size: 100%;
  font-family: var(--font-family);
  line-height: 1;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  place-content: center;
  padding-block: 5.0625em;

  @include breakpoints.breakpoint-up(large) {
    grid-template-columns: repeat(2, auto);
    gap: 1.875em;
    height: 100%;
    padding-block: 0;
  }
}
