@use './breakpoints';

.heading {
  &__details {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1.65em;
    border-radius: 0.9375rem;
    background-color: var(--blue);
    z-index: 2;

    @include breakpoints.breakpoint-up(large) {
      display: block;
    }
  }

  &__image {
    width: 4em;
    border: 3px solid white;
    border-radius: 50%;
  }

  &__header {
    font-size: 0.9375rem;
    color: var(--pale-blue);

    @include breakpoints.breakpoint-up(large) {
      margin-block-start: 2em;
    }
  }

  &__name {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5;
    color: white;
  }

  &__timesection {
    margin-block-start: -1em;
    padding: 1.5em;
    padding-block-start: 3em;
    background-color: var(--dark-blue);
  }

  &__times {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;

    @include breakpoints.breakpoint-up(large) {
      flex-direction: column;
      line-height: 3;
    }
  }

  &__time {
    display: inline;
  }
}
