:root {
  // Colours
  --blue: hsl(246, 80%, 60%);
  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);
  --work-colour: hsl(15, 100%, 70%);
  --play-colour: hsl(195, 74%, 62%);
  --study-colour: hsl(348, 100%, 68%);
  --exercise-colour: hsl(145, 58%, 55%);
  --social-colour: hsl(264, 64%, 52%);
  --self-care-colour: hsl(43, 84%, 65%);

  // Typography
  --font-family: 'Rubik', sans-serif;

  --border-radius: 0.9375rem;
}
